<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.wtrj.jx.web.portal.model.mt.dao.CapitalMapper" >
 <resultMap id="BaseResultMap" type="cn.com.wtrj.jx.web.portal.model.mt.entities.CapitalBean" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PROJECT" property="project" jdbcType="VARCHAR" />
    <result column="SCHOOL" property="school" jdbcType="VARCHAR" />
     <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
  </resultMap>
 	
 
 <select id="searchCapitalInfoByType" resultMap="BaseResultMap"  >
  select t.TYPE as type,sum(t.money) as money
   from WTRJ_RPT_NC_CAPITAL t 
   where org_code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id = nr.role_id
				        	  left join wtrj_org org on nr.org_code = org.code				        
				                 where nr.org_code is not null 
		                     and u.id= #{userId}
							<if test="segementCode != null and segementCode != ''">
		                     and org.segement_code = #{segementCode}
							</if>
							<if test="orgCode != null and orgCode != ''">
		                     and org.code = #{orgCode}
							</if>
		   )
   group by TYPE ORDER BY money DESC  
  </select>
 
 
  
<select id="searchCapitalInfoByProject" resultMap="BaseResultMap"  >
select sum(t.money) as money,
       b.name as project
  from wtrj_org o
 left join WTRJ_RPT_NC_CAPITAL t on o.code = t.org_code
 left join wtrj_business_segment b on o.SEGEMENT_CODE = b.code
 where t.type=#{type}
 and o.code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id =
		                                                                nr.role_id
				        
				                 where nr.org_code is not null 
		                     and u.id= #{userId}
		   )
    group by b.name   
    ORDER BY money DESC
  </select> 
 

 <select id="searchCapitalInfoBySchool" resultMap="BaseResultMap"  >
select t.money as money, o.nick_name as school
  from wtrj_org o
 left join WTRJ_RPT_NC_CAPITAL t on o.code = t.org_code
 left join wtrj_business_segment b on o.SEGEMENT_CODE = b.code
 where b.name = #{project}
   and t.type=#{type}
   and o.code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id =
		                                                                nr.role_id
				        
				                 where nr.org_code is not null 
		                     and u.id= #{userId}
		   )
   ORDER BY money DESC
  </select>  
 
 
</mapper>