<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wtrj.jx.web.portal.model.mt.dao.MtFinancialMapper">
	<select id="selectYears" resultType="java.lang.Integer">
		select distinct YEAR from
		WTRJ_RPT_NC_FEE order by YEAR DESC
	</select>
	
	<select id="searchFinancialOneYear" resultType="cn.com.wtrj.jx.web.portal.model.mt.entities.MtIntegerAndBigDecimalBean"
		parameterType="java.lang.Integer">
		select MONTH intName, SUM(EXPENSE) as sumValue
		  from WTRJ_RPT_NC_FEE
		 where YEAR = #{year}
		 and org_code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id =
		                                                                nr.role_id

				                 where nr.org_code is not null 
		                     and u.id= #{userId}
		   )
		 GROUP BY MONTH
		 ORDER BY MONTH ASC
	</select>
	
	<select id="searchFinancialOneMonth" resultType="cn.com.wtrj.jx.web.portal.model.mt.entities.MtStringAndBigDecimalBean">
		select CNAME stringName,SUM(EXPENSE) as sumValue 
		from WTRJ_RPT_NC_FEE 
    	where 1=1
    	 and "MONTH" &gt; 0
    	 <if test="year != null">
    	 and "YEAR"=#{year}
    	 </if>
    	 <if test="startDate != '' and startDate != null ">
		 and TO_DATE("YEAR" || '-' || "MONTH" || '-01','yyyy-mm-dd') &gt;=TO_DATE(#{startDate}, 'yyyy-mm-dd')
    	 </if>
    	 <if test="endDate != '' and endDate != null ">
		 and TO_DATE("YEAR" || '-' || "MONTH" || '-01','yyyy-mm-dd') &lt;=TO_DATE(#{endDate}, 'yyyy-mm-dd')
    	 </if>
		 and org_code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id = nr.role_id
				        	  left join wtrj_org org on nr.org_code = org.code
				                 where nr.org_code is not null 
		                     and u.id= #{userId}
							<if test="segementCode != null and segementCode != ''">
		                     and org.segement_code = #{segementCode}
							</if>
							<if test="orgCode != null and orgCode != ''">
		                     and org.code = #{orgCode}
							</if>		                     
		   )
		GROUP BY CNAME ORDER BY sumValue DESC
	</select>
	
	<select id="searchFinancialGroupByProject" resultType="cn.com.wtrj.jx.web.portal.model.mt.entities.MtStringAndBigDecimalBean">
		select SE.NAME stringName, SUM(P.EXPENSE) sumValue
		  from WTRJ_BUSINESS_SEGMENT SE
		  LEFT JOIN WTRJ_ORG O
		    ON SE.code = O.Segement_Code
		  LEFT JOIN WTRJ_RPT_NC_FEE P
		    ON P.Org_Code = O.code
		 where P.YEAR = #{year}
		  and O.code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id =
		                                                                nr.role_id
				        
				                 where nr.org_code is not null 
		                     and u.id= #{userId}
		   )
		 GROUP BY SE.NAME
	</select>
	
	<select id="searchFinancialBySomeProject" resultType="cn.com.wtrj.jx.web.portal.model.mt.entities.MtStringAndBigDecimalBean">
		select O.NICK_NAME stringName,SUM(P.EXPENSE) sumValue from WTRJ_BUSINESS_SEGMENT SE LEFT JOIN WTRJ_ORG O
          ON SE.code = O.Segement_Code  LEFT JOIN WTRJ_RPT_NC_FEE P ON P.Org_Code = O.code 
        where P.YEAR = #{year} AND SE.NAME = #{project}
        and O.code in (
		   select distinct nr.org_code
		                      from wtrj_user u
		                      left join wtrj_user_role ur on u.id = ur.user_id
		                      left join wtrj_role_nc_relationship nr on ur.role_id =
		                                                                nr.role_id
				        
				                 where nr.org_code is not null 
		                     and u.id= #{userId}
		   )
         GROUP BY O.NICK_NAME ORDER BY sumValue DESC

	</select>
	
	<select id="searchFinancialByOrgNickName" resultType="cn.com.wtrj.jx.web.portal.model.mt.entities.MtStringAndBigDecimalBean">
 select P.CNAME stringName,SUM(P.EXPENSE) sumValue from  WTRJ_ORG O LEFT JOIN WTRJ_RPT_NC_FEE P ON P.Org_Code = O.code 
  where P.YEAR = #{year} AND O.NICK_NAME = #{orgNickName} GROUP BY P.CNAME ORDER BY sumValue DESC

	</select>
</mapper>