<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.wtrj.jx.web.portal.model.dao.WtrjEcomVisitorMapper" >
  <resultMap id="BaseResultMap" type="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitor" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="DECIMAL" />
    <result column="VISIT_TYPE" property="visitType" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="VISITOR_NAME" property="visitorName" jdbcType="VARCHAR" />
    <result column="VISITOR_PHONE" property="visitorPhone" jdbcType="VARCHAR" />
    <result column="VISITOR_ID_CARD" property="visitorIdCard" jdbcType="VARCHAR" />
    <result column="CAR_NUM" property="carNum" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="VISIT_TIME" property="visitTime" jdbcType="VARCHAR" />
    <result column="LEAVE_TIME" property="leaveTime" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="QR_PIC_URL" property="qrPicUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TEACHER_ID, VISIT_TYPE, PARENT_ID, VISITOR_NAME, VISITOR_PHONE, VISITOR_ID_CARD, 
    CAR_NUM, REMARK, VISIT_TIME, LEAVE_TIME, CARD_NO, DEL_FLG, CREATE_TIME, QR_PIC_URL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WTRJ_ECOM_VISITOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from WTRJ_ECOM_VISITOR
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from WTRJ_ECOM_VISITOR
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitorExample" >
    delete from WTRJ_ECOM_VISITOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitor" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select SQ_ECOM_VISITOR.NEXTVAL from dual
    </selectKey>
    insert into WTRJ_ECOM_VISITOR (TEACHER_ID, VISIT_TYPE, PARENT_ID, 
      VISITOR_NAME, VISITOR_PHONE, VISITOR_ID_CARD, 
      CAR_NUM, REMARK, VISIT_TIME, 
      LEAVE_TIME, CARD_NO, DEL_FLG, 
      CREATE_TIME, QR_PIC_URL)
    values (#{teacherId,jdbcType=DECIMAL}, #{visitType,jdbcType=VARCHAR}, #{parentId,jdbcType=DECIMAL}, 
      #{visitorName,jdbcType=VARCHAR}, #{visitorPhone,jdbcType=VARCHAR}, #{visitorIdCard,jdbcType=VARCHAR}, 
      #{carNum,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{visitTime,jdbcType=VARCHAR}, 
      #{leaveTime,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{qrPicUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitor" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      select SQ_ECOM_VISITOR.NEXTVAL from dual
    </selectKey>
    insert into WTRJ_ECOM_VISITOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        TEACHER_ID,
      </if>
      <if test="visitType != null" >
        VISIT_TYPE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="visitorName != null" >
        VISITOR_NAME,
      </if>
      <if test="visitorPhone != null" >
        VISITOR_PHONE,
      </if>
      <if test="visitorIdCard != null" >
        VISITOR_ID_CARD,
      </if>
      <if test="carNum != null" >
        CAR_NUM,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="visitTime != null" >
        VISIT_TIME,
      </if>
      <if test="leaveTime != null" >
        LEAVE_TIME,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="delFlg != null" >
        DEL_FLG,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="qrPicUrl != null" >
        QR_PIC_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=DECIMAL},
      </if>
      <if test="visitType != null" >
        #{visitType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="visitorName != null" >
        #{visitorName,jdbcType=VARCHAR},
      </if>
      <if test="visitorPhone != null" >
        #{visitorPhone,jdbcType=VARCHAR},
      </if>
      <if test="visitorIdCard != null" >
        #{visitorIdCard,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null" >
        #{visitTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrPicUrl != null" >
        #{qrPicUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitorExample" resultType="java.lang.Integer" >
    select count(*) from WTRJ_ECOM_VISITOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WTRJ_ECOM_VISITOR
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.teacherId != null" >
        TEACHER_ID = #{record.teacherId,jdbcType=DECIMAL},
      </if>
      <if test="record.visitType != null" >
        VISIT_TYPE = #{record.visitType,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=DECIMAL},
      </if>
      <if test="record.visitorName != null" >
        VISITOR_NAME = #{record.visitorName,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorPhone != null" >
        VISITOR_PHONE = #{record.visitorPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorIdCard != null" >
        VISITOR_ID_CARD = #{record.visitorIdCard,jdbcType=VARCHAR},
      </if>
      <if test="record.carNum != null" >
        CAR_NUM = #{record.carNum,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.visitTime != null" >
        VISIT_TIME = #{record.visitTime,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveTime != null" >
        LEAVE_TIME = #{record.leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlg != null" >
        DEL_FLG = #{record.delFlg,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qrPicUrl != null" >
        QR_PIC_URL = #{record.qrPicUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WTRJ_ECOM_VISITOR
    set ID = #{record.id,jdbcType=DECIMAL},
      TEACHER_ID = #{record.teacherId,jdbcType=DECIMAL},
      VISIT_TYPE = #{record.visitType,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=DECIMAL},
      VISITOR_NAME = #{record.visitorName,jdbcType=VARCHAR},
      VISITOR_PHONE = #{record.visitorPhone,jdbcType=VARCHAR},
      VISITOR_ID_CARD = #{record.visitorIdCard,jdbcType=VARCHAR},
      CAR_NUM = #{record.carNum,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      VISIT_TIME = #{record.visitTime,jdbcType=VARCHAR},
      LEAVE_TIME = #{record.leaveTime,jdbcType=VARCHAR},
      CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      DEL_FLG = #{record.delFlg,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      QR_PIC_URL = #{record.qrPicUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitor" >
    update WTRJ_ECOM_VISITOR
    <set >
      <if test="teacherId != null" >
        TEACHER_ID = #{teacherId,jdbcType=DECIMAL},
      </if>
      <if test="visitType != null" >
        VISIT_TYPE = #{visitType,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="visitorName != null" >
        VISITOR_NAME = #{visitorName,jdbcType=VARCHAR},
      </if>
      <if test="visitorPhone != null" >
        VISITOR_PHONE = #{visitorPhone,jdbcType=VARCHAR},
      </if>
      <if test="visitorIdCard != null" >
        VISITOR_ID_CARD = #{visitorIdCard,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        CAR_NUM = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null" >
        VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null" >
        LEAVE_TIME = #{leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        DEL_FLG = #{delFlg,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrPicUrl != null" >
        QR_PIC_URL = #{qrPicUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomVisitor" >
    update WTRJ_ECOM_VISITOR
    set TEACHER_ID = #{teacherId,jdbcType=DECIMAL},
      VISIT_TYPE = #{visitType,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      VISITOR_NAME = #{visitorName,jdbcType=VARCHAR},
      VISITOR_PHONE = #{visitorPhone,jdbcType=VARCHAR},
      VISITOR_ID_CARD = #{visitorIdCard,jdbcType=VARCHAR},
      CAR_NUM = #{carNum,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
      LEAVE_TIME = #{leaveTime,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      DEL_FLG = #{delFlg,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      QR_PIC_URL = #{qrPicUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>