<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.wtrj.jx.web.portal.model.dao.WtrjEcomTeacherNoticeGroupMapper" >
  <resultMap id="BaseResultMap" type="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GROUP_CODE" property="groupCode" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="BELONG_TEACHER_ID" property="belongTeacherId" jdbcType="DECIMAL" />
    <result column="MEMBER_TEACHER_ID" property="memberTeacherId" jdbcType="DECIMAL" />
    <result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
    <result column="MEMBER_MOBILE" property="memberMobile" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GROUP_CODE, GROUP_NAME, BELONG_TEACHER_ID, MEMBER_TEACHER_ID, MEMBER_NAME, MEMBER_MOBILE, 
    FLAG, CREATE_TIME, UPDATE_TIME, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WTRJ_ECOM_TEACHER_NOTICE_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WTRJ_ECOM_TEACHER_NOTICE_GROUP
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WTRJ_ECOM_TEACHER_NOTICE_GROUP
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroupExample" >
    delete from WTRJ_ECOM_TEACHER_NOTICE_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    insert into WTRJ_ECOM_TEACHER_NOTICE_GROUP (ID, GROUP_CODE, GROUP_NAME, 
      BELONG_TEACHER_ID, MEMBER_TEACHER_ID, MEMBER_NAME, 
      MEMBER_MOBILE, FLAG, CREATE_TIME, 
      UPDATE_TIME, REMARK)
    values (#{id,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{belongTeacherId,jdbcType=DECIMAL}, #{memberTeacherId,jdbcType=DECIMAL}, #{memberName,jdbcType=VARCHAR}, 
      #{memberMobile,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    insert into WTRJ_ECOM_TEACHER_NOTICE_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="groupCode != null" >
        GROUP_CODE,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="belongTeacherId != null" >
        BELONG_TEACHER_ID,
      </if>
      <if test="memberTeacherId != null" >
        MEMBER_TEACHER_ID,
      </if>
      <if test="memberName != null" >
        MEMBER_NAME,
      </if>
      <if test="memberMobile != null" >
        MEMBER_MOBILE,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null" >
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="belongTeacherId != null" >
        #{belongTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="memberTeacherId != null" >
        #{memberTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberMobile != null" >
        #{memberMobile,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroupExample" resultType="java.lang.Integer" >
    select count(*) from WTRJ_ECOM_TEACHER_NOTICE_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WTRJ_ECOM_TEACHER_NOTICE_GROUP
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCode != null" >
        GROUP_CODE = #{record.groupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.belongTeacherId != null" >
        BELONG_TEACHER_ID = #{record.belongTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="record.memberTeacherId != null" >
        MEMBER_TEACHER_ID = #{record.memberTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="record.memberName != null" >
        MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberMobile != null" >
        MEMBER_MOBILE = #{record.memberMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        FLAG = #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WTRJ_ECOM_TEACHER_NOTICE_GROUP
    set ID = #{record.id,jdbcType=VARCHAR},
      GROUP_CODE = #{record.groupCode,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      BELONG_TEACHER_ID = #{record.belongTeacherId,jdbcType=DECIMAL},
      MEMBER_TEACHER_ID = #{record.memberTeacherId,jdbcType=DECIMAL},
      MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      MEMBER_MOBILE = #{record.memberMobile,jdbcType=VARCHAR},
      FLAG = #{record.flag,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    update WTRJ_ECOM_TEACHER_NOTICE_GROUP
    <set >
      <if test="groupCode != null" >
        GROUP_CODE = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="belongTeacherId != null" >
        BELONG_TEACHER_ID = #{belongTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="memberTeacherId != null" >
        MEMBER_TEACHER_ID = #{memberTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="memberName != null" >
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberMobile != null" >
        MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    update WTRJ_ECOM_TEACHER_NOTICE_GROUP
    set GROUP_CODE = #{groupCode,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      BELONG_TEACHER_ID = #{belongTeacherId,jdbcType=DECIMAL},
      MEMBER_TEACHER_ID = #{memberTeacherId,jdbcType=DECIMAL},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      MEMBER_MOBILE = #{memberMobile,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="deleteGroupByGroupBode" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    update WTRJ_ECOM_TEACHER_NOTICE_GROUP
    set  FLAG = '0',UPDATE_TIME=sysdate
    where  GROUP_CODE = #{groupCode,jdbcType=VARCHAR}
  </update>

  <update id="delMemberByGroupCode" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjEcomTeacherNoticeGroup" >
    update WTRJ_ECOM_TEACHER_NOTICE_GROUP
    set  FLAG = '0',UPDATE_TIME=sysdate
    where  GROUP_CODE = #{groupCode,jdbcType=VARCHAR} and MEMBER_TEACHER_ID = #{memberTeacherId,jdbcType=DECIMAL}
  </update>
</mapper>