<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.wtrj.jx.web.portal.model.dao.WtrjRptScoreSumMapper" >
  <resultMap id="BaseResultMap" type="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSum" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="EXAM_INS_ID" property="examInsId" jdbcType="VARCHAR" />
    <result column="SCHOOL_CODE" property="schoolCode" jdbcType="VARCHAR" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    <result column="CLASS_ID" property="classId" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SUM_NUMBER" property="sumNumber" jdbcType="DECIMAL" />
    <result column="AVERAGE_NUMBER" property="averageNumber" jdbcType="DECIMAL" />
    <result column="ORDER_NUMBER" property="orderNumber" jdbcType="DECIMAL" />
    <result column="grade_order_no" property="gradeOrderNo" jdbcType="DECIMAL" />
    <result column="CLASS_TOP_SCORE" property="classTopScore" jdbcType="DECIMAL" />
    <result column="EXAM_INS_NAME" property="examInsName" jdbcType="VARCHAR" />
    <result column="STUDENT_CODE" property="studentCode" jdbcType="VARCHAR" />
    <result column="CLASS_BOTTOM_SCORE" property="classBottomScore" jdbcType="DECIMAL"/>
    <result column="CLASS_REMARK" property="classRemark" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, EXAM_INS_ID, SCHOOL_CODE, GRADE, CLASS_ID, ID_CARD, NAME, SUM_NUMBER, AVERAGE_NUMBER, 
    ORDER_NUMBER, CLASS_TOP_SCORE,CLASS_BOTTOM_SCORE, EXAM_INS_NAME, STUDENT_CODE,grade_order_no,class_remark 
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WTRJ_RPT_SCORE_SUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WTRJ_RPT_SCORE_SUM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findSumClassOrderByInsIdAndStuName" resultType="java.lang.Integer">
  	select ORDER_NUMBER from wtrj_rpt_score_sum 
  	where name=#{stuName,jdbcType=VARCHAR} 
  	and exam_ins_id=#{examInsId,jdbcType=VARCHAR}
  	and flag=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WTRJ_RPT_SCORE_SUM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSumExample" >
    delete from WTRJ_RPT_SCORE_SUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSum" >
    insert into WTRJ_RPT_SCORE_SUM (ID, EXAM_INS_ID, SCHOOL_CODE, 
      GRADE, CLASS_ID, ID_CARD, 
      NAME, SUM_NUMBER, AVERAGE_NUMBER, 
      ORDER_NUMBER, CLASS_TOP_SCORE, EXAM_INS_NAME
      )
    values (#{id,jdbcType=VARCHAR}, #{examInsId,jdbcType=VARCHAR}, #{schoolCode,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sumNumber,jdbcType=DECIMAL}, #{averageNumber,jdbcType=DECIMAL}, 
      #{orderNumber,jdbcType=DECIMAL}, #{classTopScore,jdbcType=DECIMAL}, #{examInsName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSum" >
    insert into WTRJ_RPT_SCORE_SUM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="examInsId != null" >
        EXAM_INS_ID,
      </if>
      <if test="schoolCode != null" >
        SCHOOL_CODE,
      </if>
      <if test="grade != null" >
        GRADE,
      </if>
      <if test="classId != null" >
        CLASS_ID,
      </if>
      <if test="idCard != null" >
        ID_CARD,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sumNumber != null" >
        SUM_NUMBER,
      </if>
      <if test="averageNumber != null" >
        AVERAGE_NUMBER,
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER,
      </if>
      <if test="classTopScore != null" >
        CLASS_TOP_SCORE,
      </if>
      <if test="examInsName != null" >
        EXAM_INS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="examInsId != null" >
        #{examInsId,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null" >
        #{schoolCode,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sumNumber != null" >
        #{sumNumber,jdbcType=DECIMAL},
      </if>
      <if test="averageNumber != null" >
        #{averageNumber,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=DECIMAL},
      </if>
      <if test="classTopScore != null" >
        #{classTopScore,jdbcType=DECIMAL},
      </if>
      <if test="examInsName != null" >
        #{examInsName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSumExample" resultType="java.lang.Integer" >
    select count(*) from WTRJ_RPT_SCORE_SUM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WTRJ_RPT_SCORE_SUM
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.examInsId != null" >
        EXAM_INS_ID = #{record.examInsId,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolCode != null" >
        SCHOOL_CODE = #{record.schoolCode,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        GRADE = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null" >
        CLASS_ID = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        ID_CARD = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sumNumber != null" >
        SUM_NUMBER = #{record.sumNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.averageNumber != null" >
        AVERAGE_NUMBER = #{record.averageNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNumber != null" >
        ORDER_NUMBER = #{record.orderNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.classTopScore != null" >
        CLASS_TOP_SCORE = #{record.classTopScore,jdbcType=DECIMAL},
      </if>
      <if test="record.examInsName != null" >
        EXAM_INS_NAME = #{record.examInsName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WTRJ_RPT_SCORE_SUM
    set ID = #{record.id,jdbcType=VARCHAR},
      EXAM_INS_ID = #{record.examInsId,jdbcType=VARCHAR},
      SCHOOL_CODE = #{record.schoolCode,jdbcType=VARCHAR},
      GRADE = #{record.grade,jdbcType=VARCHAR},
      CLASS_ID = #{record.classId,jdbcType=VARCHAR},
      ID_CARD = #{record.idCard,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      SUM_NUMBER = #{record.sumNumber,jdbcType=DECIMAL},
      AVERAGE_NUMBER = #{record.averageNumber,jdbcType=DECIMAL},
      ORDER_NUMBER = #{record.orderNumber,jdbcType=DECIMAL},
      CLASS_TOP_SCORE = #{record.classTopScore,jdbcType=DECIMAL},
      EXAM_INS_NAME = #{record.examInsName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSum" >
    update WTRJ_RPT_SCORE_SUM
    <set >
      <if test="examInsId != null" >
        EXAM_INS_ID = #{examInsId,jdbcType=VARCHAR},
      </if>
      <if test="schoolCode != null" >
        SCHOOL_CODE = #{schoolCode,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        CLASS_ID = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sumNumber != null" >
        SUM_NUMBER = #{sumNumber,jdbcType=DECIMAL},
      </if>
      <if test="averageNumber != null" >
        AVERAGE_NUMBER = #{averageNumber,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER = #{orderNumber,jdbcType=DECIMAL},
      </if>
      <if test="classTopScore != null" >
        CLASS_TOP_SCORE = #{classTopScore,jdbcType=DECIMAL},
      </if>
      <if test="examInsName != null" >
        EXAM_INS_NAME = #{examInsName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjRptScoreSum" >
    update WTRJ_RPT_SCORE_SUM
    set EXAM_INS_ID = #{examInsId,jdbcType=VARCHAR},
      SCHOOL_CODE = #{schoolCode,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=VARCHAR},
      CLASS_ID = #{classId,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SUM_NUMBER = #{sumNumber,jdbcType=DECIMAL},
      AVERAGE_NUMBER = #{averageNumber,jdbcType=DECIMAL},
      ORDER_NUMBER = #{orderNumber,jdbcType=DECIMAL},
      CLASS_TOP_SCORE = #{classTopScore,jdbcType=DECIMAL},
      EXAM_INS_NAME = #{examInsName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findParentPhoneByStudentNameAndClassId" resultType="string">
  	select p.phone,s.name from wtrj_parent p,wtrj_stu_parent_relationship r,wtrj_student s where p.id = r.parent_id and r.student_id = s.id and s.name = #{studentName} and s.class_id = #{classId}
  </select>
  
</mapper>