<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.wtrj.jx.web.portal.model.dao.WtrjBaseCommentMapper" >
  <resultMap id="BaseResultMap" type="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseComment" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="STATE_CODE" property="stateCode" jdbcType="VARCHAR" />
    <result column="STATE_NAME" property="stateName" jdbcType="VARCHAR" />
    <result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="LEVEL_CODE" property="levelCode" jdbcType="VARCHAR" />
    <result column="LEVEL_NAME" property="levelName" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, STATE_CODE, STATE_NAME, TYPE_CODE, TYPE_NAME, LEVEL_CODE, LEVEL_NAME, CONTENT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseCommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WTRJ_BASE_COMMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from WTRJ_BASE_COMMENT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from WTRJ_BASE_COMMENT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseCommentExample" >
    delete from WTRJ_BASE_COMMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseComment" >
    insert into WTRJ_BASE_COMMENT (ID, STATE_CODE, STATE_NAME, 
      TYPE_CODE, TYPE_NAME, LEVEL_CODE, 
      LEVEL_NAME, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{stateCode,jdbcType=VARCHAR}, #{stateName,jdbcType=VARCHAR}, 
      #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{levelCode,jdbcType=VARCHAR}, 
      #{levelName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseComment" >
    insert into WTRJ_BASE_COMMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="stateCode != null" >
        STATE_CODE,
      </if>
      <if test="stateName != null" >
        STATE_NAME,
      </if>
      <if test="typeCode != null" >
        TYPE_CODE,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="levelCode != null" >
        LEVEL_CODE,
      </if>
      <if test="levelName != null" >
        LEVEL_NAME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="stateCode != null" >
        #{stateCode,jdbcType=VARCHAR},
      </if>
      <if test="stateName != null" >
        #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseCommentExample" resultType="java.lang.Integer" >
    select count(*) from WTRJ_BASE_COMMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update WTRJ_BASE_COMMENT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.stateCode != null" >
        STATE_CODE = #{record.stateCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stateName != null" >
        STATE_NAME = #{record.stateName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeCode != null" >
        TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.levelCode != null" >
        LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      </if>
      <if test="record.levelName != null" >
        LEVEL_NAME = #{record.levelName,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update WTRJ_BASE_COMMENT
    set ID = #{record.id,jdbcType=DECIMAL},
      STATE_CODE = #{record.stateCode,jdbcType=VARCHAR},
      STATE_NAME = #{record.stateName,jdbcType=VARCHAR},
      TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      LEVEL_CODE = #{record.levelCode,jdbcType=VARCHAR},
      LEVEL_NAME = #{record.levelName,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseComment" >
    update WTRJ_BASE_COMMENT
    <set >
      <if test="stateCode != null" >
        STATE_CODE = #{stateCode,jdbcType=VARCHAR},
      </if>
      <if test="stateName != null" >
        STATE_NAME = #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="levelCode != null" >
        LEVEL_CODE = #{levelCode,jdbcType=VARCHAR},
      </if>
      <if test="levelName != null" >
        LEVEL_NAME = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.wtrj.jx.web.portal.model.entities.WtrjBaseComment" >
    update WTRJ_BASE_COMMENT
    set STATE_CODE = #{stateCode,jdbcType=VARCHAR},
      STATE_NAME = #{stateName,jdbcType=VARCHAR},
      TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      LEVEL_CODE = #{levelCode,jdbcType=VARCHAR},
      LEVEL_NAME = #{levelName,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>